<div class="file-upload centered-div">
    <p class="heading mt-3">Choose a .CSV File to Upload from your Device</p>
  <div class="file-select ">
    <div class="file-select-button" id="fileName">Choose File</div>
    <div class="file-select-name" id="noFile">No file chosen...</div> 
    <input type="file" name="chooseFile" id="chooseFile">
  </div>
</div>

<script type="text/javascript" src="//code.jquery.com/jquery-1.10.2.min.js"></script>


<!-- JS file -->

<!-- $('#chooseFile').bind('change', function () {
  var filename = $("#chooseFile").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", -->

<!-- Process -->

<!-- https://code.tutsplus.com/how-to-upload-and-download-csv-files-with-angularjs--cms-31489t -->