.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 15px 50px ;
    border-radius: 30px;
    border: 3px solid black;
}

.registration-form .item{
	border-radius: 20px;
    padding: 10px 20px;
}

.registration-form .update-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ebdf3e;
    border: none;
    color: white;
    margin-top: 20px;
    width: 150px;
    box-shadow: 0 9px #999;
}

.registration-form .update-account:active {
    background-color: #e4e70f;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.registration-form .cancel-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3aa530;
    border: none;
    color: white;
    margin-top: 20px;
    width: 150px;
    box-shadow: 0 9px #999;
}

.registration-form .cancel-account:active {
    background-color: #06f52d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.headingdiv{
    border: 1px solid black;
    border-radius: 30px;
}